<form
  class="addFormContainer"
  [formGroup]="addTaskForm"
  (ngSubmit)="onSubmit()"
>
  <input
    placeholder="Task"
    type="text"
    id="taskName"
    formControlName="taskName"
  />
  <span
    *ngIf="
      !addTaskForm.get('taskName')?.valid &&
      addTaskForm.get('taskName')?.touched
    "
  >
    <span *ngIf="addTaskForm.get('taskName')?.errors?.['taskIsForbidden']"
      >This task is forbidden</span
    >
    <span *ngIf="addTaskForm.get('taskName')?.errors?.['required']"
      >This field is required</span
    >
  </span>
  <div class="midSection">
    <div class="assignPersonSection">
      <div class="assignPersonRelative" (click)="setShowPeoples()">
        <input
          class="assignPersonInput"
          [placeholder]="assignedPerson"
          disabled
        />
        <mat-icon class="assignPersonDropDownIcon">expand_more</mat-icon>
      </div>
      <div class="assignPersonOptions" *ngIf="showPeoples">
        <ul (click)="setShowPeoples()">
          <li
            *ngFor="let people of peoples; let index = index"
            fromControlName="assignPeople"
            (click)="setPerson(index)"
          >
            {{ people }}
          </li>
        </ul>
      </div>
    </div>
    <button class="clearButton" type="button" (click)="resetForm()">
      Clear
    </button>
  </div>

  <span *ngIf="!addTaskForm.valid && addTaskForm.touched"
    >Please enter a valid form data!</span
  >
  <button [disabled]="!addTaskForm.valid" type="submit">Add Task</button>
</form>
